{% extends "layouts/base.html" %}

{% block title %} Create new project {% endblock %}

<!-- Specific CSS goes HERE -->
{% block header_scripts %}
{% endblock header_scripts %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        

        <div class="auth-wrapper p-5">
            <div class="auth-content">

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-body text-center">
                                <h5>Create new project</h5>
                                <hr>
                                        <form method="POST">
                                            {% csrf_token %}
                                            {% for field in form %}
                                            <div class="form-group">
                                                    <label>{{ field.label }}</label>
                                                    {{ field }}
                                            </div>
                                            {% endfor %}
                                            <input type="submit" class="btn btn-primary float-right" value="Create">
                                        </form>
                                   
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
