{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">

        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h3 class="m-b-10">Project - {{ project.title }}
                                <span class="float-right">
                                    <button class="btn btn-danger" data-toggle="modal"
                                        data-target="#modalDeleteConfirmation"><i
                                            class="fas fa-trash"></i>Delete</button>
                                </span>
                            </h3>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="modalDeleteConfirmation" tabindex="-1" role="dialog"
            aria-labelledby="modalDeleteConfirmationTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            You are about to delete this project,
                            the action cannot be undone.
                            Please write the project name here to proceed.
                        </p>
                        <p>
                            Project name: <code>{{ project.title }}</code>
                        </p>
                        <input type="text" id="inputProjectName" class="form-control" placeholder="Project name">
                    </div>
                    <div class="modal-footer">
                        <a type="button" href="{% url 'delete_project' project.id %}" class="btn disabled btn-danger"
                            id="deleteProjectButton">Delete</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="main-body">
            <div class="page-wrapper">

                <div class="row">

                    {% for card in project.card_set.all %}
                    <div class="col-md-12 col-xl-4">
                        <div class="card">
                            <div class="card-block border-bottom">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <h4 class="pointer" data-toggle="modal" data-target="#cardModal{{ card.id }}">
                                            {{ card.title }}</h4>
                                    </div>
                                    <div class="col text-right">
                                        <h5 class="text-c-green mb-0">
                                            <button data-target="#modalCardDeleteConfirmation{{ card.id }}"
                                                data-toggle="modal" class="btn btn-danger py-2">Remove Card</button>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            <div class="card-block">
                                <ul class="list-group">
                                    {% for item in card.carditem_set.all %}
                                    <li class="list-group-item">{{ item.title }}
                                        <span class="float-right">
                                            <a href="{% url 'delete_card_item' project.id item.id %}"><i
                                                    style="color: red;" class="fas fa-trash"></i></a>
                                        </span>
                                    </li>
                                    {% empty %}
                                    <li class="list-group-item">No item in this card</li>
                                    {% endfor %}
                                </ul>
                                <form style="display: none;" id="form{{ card.id }}"
                                    action="{% url 'create_card_item' project.id card.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="text" id="inputCardItem{{ card.id }}"
                                        placeholder="Write your text & press enter" maxlength="100" name="title"
                                        class="form-control">
                                </form>
                                <a href="#"
                                    onclick="toggleCardItemForm('form{{ card.id }}', 'inputCardItem{{ card.id }}')"
                                    title="Add new item to this card" class="btn btn-primary btn-block mt-4">
                                    <i class="fas fa-plus-circle fa-2x"></i>
                                </a>
                            </div>
                            <!-- Card Delete Confirmation Modal -->
                            <div class="modal fade" id="modalCardDeleteConfirmation{{ card.id }}" tabindex="-1"
                                role="dialog" aria-labelledby="modalCardDeleteConfirmation{{ card.id }}Title"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                You are about to delete this card,
                                                the action cannot be undone. Are you sure?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'delete_card' project.id card.id %}" class="btn btn-danger"
                                                id="deleteProjectButton">Yes, Confirm</a>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Modal -->
                    <div class="modal fade" id="cardModal{{ card.id }}" tabindex="-1" role="dialog"
                        aria-labelledby="cardModal{{ card.id }}Title" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{ card.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>{{ card.description|default:"No description found" }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Add new start -->
                    <div class="col-md-12 col-xl-4">
                        <a href="{% url 'create_card' project.id %}">
                            <div class="card" title="Add new card">
                                <div class="card-block new-project p-5">
                                    <div class="row align-items-center justify-content-center card-active">
                                        <p>
                                            <i class="fas fa-plus-circle fa-8x"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Add new end -->

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block footer_scripts %}

<script>
    function toggleCardItemForm(formId, inputCardItemId) {
        $(`#${formId}`).toggle()
        $(`#${inputCardItemId}`).focus()
    }
</script>
<script>
    const projectName = "{{ project.title }}"

    const deleteButton = $('#deleteProjectButton')
    const inputProjectName = $('#inputProjectName')

    inputProjectName.on('input', function () {

        inputProjectNameValue = $('#inputProjectName').val()
        if (inputProjectNameValue === projectName) {
            deleteButton.removeClass('disabled')
        }
        else {
            deleteButton.addClass('disabled')
        }

    })
</script>

{% endblock footer_scripts %}